
.rinja{
    object-fit: contain;
    opacity: .6;
    height: 100vh;
    width: 100vw;
    z-index:0;
}

.rinja:hover{
    opacity: 1;
}

.img-blurb{
    z-index: 1;
    color: black;
    /* position: absolute; */
    /* top: 30%;
    left: 55%;
    transform: translate(-50%, -50%); */
    /* max-width: 15em; */
}

.lg-img-blurb{
    position: absolute;
    top: 35%;
    left: 55%;
    transform: translate(-50%, -70%);
}

.sm-img-blurb{
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -70%);
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  
.body{
    background-image: "../assets/mt-rinja.jpg";
}
