.nav{
    /* set the nav container to flex */
    display: flex;

    /* use gap to spread the a.nav-item instead */
    /* of margin */
    gap: 2em;

    /* make the position of the nav sticky */
    /* it will take care of some issues that would */
    /* happen with absolute positioning */
    position: sticky;

    margin-top: 0;

    /* set it to the top @ 0 */
    top:0;

    /* put it to the far left */
    left: 0;

    /* give a little padding to the container */
    padding: 2em;

    /* this z index is here because the carousel */
    /* seems to have some absolute positioning */
    /* if it wasn't used, the navbar would fall behind it */
    z-index: 1;
}

a{
    color: black;
}

a.nav-item{
    color: black;
}