/* set or overide some defaults */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* you could set more styles that strip away */
/* default css from html. Look into "css reset". */

/* removed the #root id styles */
/* and wrapped the MultiCarousel and Landing in container */
/* honestly a bit ugly in code but needed for the current layout */
/* you could always change it */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

